/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    html{
        width: 100%;
    }
    body{
        width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }
    nav{
        width: 100%;
        height: 72px;
    }
    nav ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        align-items: center;
        margin-right: 142px;
        gap: 20px;
    }
    nav ul li a{
        text-decoration: none;
        padding: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }
    nav ul li a i{
        color: #FFFFFF;
        font-size: 15px;
    }
    nav ul li :hover{
        color: #FF6B00;
        transform: scale(1.2);
    }
    #bars{
        display: none;
    }
    .logo {
        margin-left: 142px;
        font-size: 20px;
        margin-top: 18px;
    }
    .page-1{
        flex-direction: row;
        align-items: center;
        height: 600px;
        background-image: url(images/Illustration-header.svg);
        background-position-x: 600px;
        background-position-y: -120px;
    }
    .text{
        width: 556px;
        margin-left: 143px;
        padding: 170px 0px;
    }
    .text h1{
        font-size: 72px;
        line-height: 82px;
        font-weight: 400px;
    }
    .text h2{
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
    }
    .text p{
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
    }
    .social-media{
        flex-direction: column;
        width: 30px;
        position: absolute;
        margin-left: 40px;
    }
    .page-2{
        padding: 0px 118px;
        flex-direction: column;
    }
    .page-2 h1{
        display:flex;
        flex-direction: row;
    }
    .card-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .card-1 img{
        width: 684px;
        height: 448px;
        margin-left: 0px;
    }
    .card-1-text .card-text h1{
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 24px;
    }
    #invisible{
        visibility: hidden;
    }
    #card-b{
        height: 200px;
    }



  }