body{
    width: 375px;
    font-style: normal;
    gap: 0px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: aqua;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #4e4949;
    width:375px;
    height: 48px;
}
nav ul{
    display: none;
}
.logo{
    margin-left: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px 12px;
    font-family: 'roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}
#bars{
    margin-left: 36px;
    margin-top: 8px;
    padding: 8px;
    column-rule: white;
    color: #ffffff;
}
.page-1{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 120px 24px;
    align-items: center;
    background-color: #1C1A19;
    background-image: url(images/Illustration.svg);
    background-repeat: no-repeat;
    background-position-x: 230px;
    background-position-y: 317px;
}
.text{
    gap: 12px;
}
.text h1{
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #FF6B00;
}
.text h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFF5E1;
}
.text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
.social-media{
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 200px;
    height: 40px;
    gap: 20px;
    margin-left: -120px;
}
.social-media a i{
    font-size: 24px;
    color: #FFF5E1;
}
.page-2{
    padding: 120px 24px;
    gap: 80px;
    background-color: #ffffff;
}
.page-2 h1{
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.card-1 .card-1-text{
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}
.card-text{
    gap: 12px;
}
.card-text h1{
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #091E42;
}
.card-text p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.buttons{
    gap: 12px;
}
.buttons button{
    padding: 10px 12px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}
.card-1 .see-project-button{
    padding: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
    background: #FF6B00;
    border: none;
}
.card{
    gap: 14px;
    width: 327px;
    height: 248px;
}
.card-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 12px;
    background-image: url(images/image-placeholder.svg);
}
.card-details .card-text h1{
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
}
.card-details .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-details .buttons button{
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
}
.card .see-project-button{
    width: 327px;
    height: 48px;
    background: #FF6B00;
    gap: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
    border: none;
}
.page-3{
    display: flex;
    flex-direction: column;
    background: #1C1A19;
}
.page-3-details{
    padding: 120px 24px;
    gap: 24px;
}
.page-3-details h1{
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #FF6B00
}
.page-3-details p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F4F5F7;
}
.page-3-details button{
    padding: 12px;
    gap: 10px;
    width: 161px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background: #FF6B00;
    color: #ffffff;
    border: none;
}
.page-3 hr{
    width: 327px;
    color: #F4F5F7;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 24px;
}
.skill{
    gap: 24px;
}
.skill h1{
    font-family: 'inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
}
.skill ul{
    list-style: none;
    gap: 40px;
}
.skill ul li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
}
#language ul{
    margin-left: 10px;
}
#required-skills ul{
    margin-left: -15px;
}

