body{
    width: 375px;
    font-style: normal;
    gap: 0px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #4e4949;
    width:375px;
    height: 48px;
}
nav ul{
    display: none;
}
.logo{
    margin-left: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px 12px;
    font-family: 'roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}
#bars{
    margin-left: 36px;
    margin-top: 8px;
    padding: 8px;
    column-rule: white;
    color: #ffffff;
}
.page-1{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 120px 24px;
}
